<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{"page-home.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list no-lines class="list-user" *ngIf="user">
            <ion-item detail-none text-wrap
                      *ngIf="user">
                <ion-avatar item-left>
                    <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                    <div *ngIf="!user.profile.picture">
                        <button ion-button icon-only round clear color="primary"
                                class="disable-hover no-user-image-icon">
                            <ion-icon name="contact"></ion-icon>
                        </button>
                    </div>
                </ion-avatar>
                <h2>{{user.profile.name.display}}</h2>
                <div *ngIf="user.emails">
                    <p>
                        {{user.emails['0'].address}}
                    </p>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-content>
            {{"onyx.general" | translate}}
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"onyx.headers.enroll" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            {{"onyx.actionDescriptions.enroll" | translate}}

            <div padding>
                <button ion-button block color="primary"
                        (click)="capture(ONYX_ACTIONS.ENROLL)">
                    {{"onyx.buttons.enroll" | translate}}
                </button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"onyx.headers.verify" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            {{"onyx.actionDescriptions.verify" | translate}}

            <div padding>
                <button ion-button block color="primary"
                        (click)="capture(ONYX_ACTIONS.VERIFY)">
                    {{"onyx.buttons.verify" | translate}}
                </button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"onyx.headers.identify" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            {{"onyx.actionDescriptions.identify" | translate}}

            <div padding>
                <button ion-button block color="primary"
                        (click)="capture(ONYX_ACTIONS.IDENTIFY)">
                    {{"onyx.buttons.identify" | translate}}
                </button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
